<div class="block notice">
  <h3>Managing Client Applications</h3>
  <div class="content">
    <p>
      Client applications are those that are provided by 3rd party developers
      that will have access to member transaction data (via notifications).  Manage
      the list of applications and their access on this screen.
    </p>
  </div>
</div>
