<h2>The application <% link_to h(oauth.client.display_name), oauth.client.link %>
  is requesting access to your account's transactions.</h2>

<form action="/oauth/grant">
  <button>Grant</button>
  <input type="hidden" name="authorization" value="<%= oauth.authorization %>">
</form>
<form action="/oauth/deny">
  <button>Deny</button>
  <input type="hidden" name="authorization" value="<%= oauth.authorization %>">
</form>
